main
    div.donorsList
        each val in main
            div.info
                h1= val.name
                h3= val.lastname
                br
                ul
                    li= val.lastname
                    li= val.curp
                    li= val.mCertificate
                    li= val._id