h1 Results
div.donorsList
    div.info
        each result in results
            h1= result.name
            h3= result.lastname
            br
            ul
                li= result.lastname
                li= result.curp
                li= result.mCertificate
                li= result._id